{{! Use the main layout }}
{{!< main }}

<link rel="stylesheet" href="/css/oauth.css" />

<div class="container">
    <div class="login-register-wrapper">
        <div class="login-area">
            <h2>Successfully Logged Out</h2>
        </div>
    </div>
</div>
