{{! Use the main layout }}
{{!< main }}

<link rel="stylesheet" href="/css/oauth.css">  


<div class="container">
    <div class="login-register-wrapper">
        <div class="login-area">
            <h2>Login with Google</h2>
            {{#if loginError}}
                <p class="error">{{loginError}}</p>
            {{/if}}
            <button class="login-button" type="submit">Login with Google</button>
        </div>
    </div>
</div>

<script src="/scripts/login.js"></script>

